html,body{
	height:100%;
}

#myTab {
    margin: 0;
}
#myTab.affix {
    position: fixed;
    top: 0;
    width: 100%;
}

.page-header h2 {
	width: 100%;
	background-color:#1C57A5 !important;
	color: #fff;
	padding: 5px 0 5px 0;	
}

.container-fluid {
	background-color:#1C57A5 !important;
}

.container-fluid  h2 {
	color:#fff;
}

.container-fluid .pull-right {
	width:10%;
	padding: 5px;
}

.panel-body {
	margin: 20px 0 20px 0;
	margin-top: 1em;
}

.search-form {
	padding-bottom: 2em;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100%;
  border: 2px;
}

#spinner{
  display: none;
  position: absolute;
  left: 50%;
  top: 20%;
}

#spinBox {
    
    display:none;
    border-radius:0.25em;
    width:5em;
    height:5em;
    
  }
  
  
.fixed-panel {
	min-height: 10;
    max-height: 10;
    overflow-y: scroll;
}

#outputPanel {
  padding-top: 5px;
}

#events-output {
	min-width: 100%;
	resize: none;
	overflow-y: scroll;
}

#eventTable {
	width: 100%;
}


.panel#controls-output {
	border: 0;
}

#mqttTest {
	padding: 5px;
}

.col-md-3#leftCol {
	padding-top: 20px;
}

.display-panel {
	margin-top: 50px;
}

#statusForm label{
    display: inline-block;
    float: left;
    clear: left;
    width: 200px;
    text-align: left;
    padding-top: 10px;
}

#statusForm output {
  display: inline-block;
  float: left;
  width: 200px;
  /* margin-top: 10px; */
}

td { 
    padding: 2px 10px 2px 10px;
}

p#region-name {
	padding-left: 10px;
}

.form-group .latlong-data {
	width: 100%;
	resize: none;
}

.panel#region-panel {
	border: 0;
}
#region-panel {
	padding-top: 40px;
}
#control-select {
	padding-top: 40px;
}

#map-select {
  margin: 0;
  padding-top: 0;
  height: 600px;
  width: 100%;
  border: 2px;
}

